/* header.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* Style général du header */
header {
    background-color: #015C6D;
    text-align: left;
    padding: 20px 0;
}

/* Conteneur du header pour aligner les groupes de logos */
.header-container {
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style pour le groupe de logos à gauche */
.logo-group {
    display: flex;
    align-items: center;
}

/* Style du logo principal */
.logo-header {
    margin-right: 20px;
}

/* Style des liens de logo */
.logo-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.logo-link:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Style spécifique pour le logo de contact à droite */
.logo-contact a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.logo-contact a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}



