<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titre par Défaut{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/formulaire.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <style>
            body {
                background-color: #VotreCouleur; /* Remplacez #VotreCouleur par la couleur hexadécimale de votre choix */
            }
        </style>
    {% endblock %}
</head>
<body>
    {% include 'header.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'footer.html.twig' %}
</body>
</html>
